<h1>Listing purchasers</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>Name</th>
  </tr>

<% @purchasers.each do |purchaser| %>
  <tr>
  	<td><%= purchaser.id %></td>
    <td><%= purchaser.name %></td>
  </tr>
<% end %>
</table>

<br />